<!doctype html>
<html>
<head>
    <title>DogDays: A dailies list for your pet</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>DogDays</h1>
        <h3>A dailies list for your pet.</h3>
        <img src="img/homepage-monroe.jpg" alt="Monroe the dog outside with ball">
        <br>
        <a href="/about">Learn more</a>

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
